@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #202020;
  --darkGray: #2c2c2c;
  --lightGreen: #25d366;
  --darkGreen: #1daa61;
  --gray: #9f9f9f;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}  */

body {
  color: var(--black);
  background: white;
  @apply fontly-text expanded-text;
}

a {
  font-weight: 500;
}

a:hover {
  cursor: pointer;
}

.fontly-text {
  font-family: var(--font-mona-sans);
  font-weight: 300; /* Example of lighter weight */
  font-style: normal;
  font-stretch: 100%; /* Default width */
}

.semi-bold-text {
  font-weight: 600;
}

.bold-text {
  font-weight: 800; /* Bold weight */
}

.italic-text {
  font-style: italic;
}

.condensed-text {
  font-stretch: 75%; /* Condensed */
}

.expanded-text {
  font-stretch: 125%; /* Expanded */
}

.line-h-150 {
  line-height: 150%;
}

.border-radius-100 {
  border-radius: 100px;
}

.btn {
  color: var(--darkGray);
  background-color: var(--lightGreen);
  font-size: 1.125rem;
  height: 59px;
  display: inline-block;
  border: 1px solid transparent;

  @apply line-h-150 px-6 py-4 border-radius-100 semi-bold-text;
}
.btn:hover,
.outline-btn:hover {
  box-shadow: 0 2px 16px 0 hsla(149, 71%, 39%, 0.75);
  color: var(--darkGray);
  background-color: var(--lightGreen);
  border: 1px solid transparent;

  transition: all ease 0.4s;
}

.outline-btn {
  background-color: transparent;
  color: var(--darkGray);
  border: 1px solid var(--darkGray);
  font-size: 1.125rem;
  height: 59px;
  display: inline-block;

  @apply line-h-150 px-6 py-4 border-radius-100 semi-bold-text;
}

form {
  @apply my-10 flex flex-col w-96 self-center;
}

form > button {
  @apply btn mt-4;
}

input {
  font-weight: 500;
  @apply px-5 py-4 mb-1 rounded-full outline-1 outline-green-700;
}

h1 {
  @apply text-5xl;
}
