@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #202020;
  --darkGray: #2c2c2c;
  --lightGreen: #25d366;
  --darkGreen: #1daa61;
  --gray: #9f9f9f;
}

html {
  scroll-behavior: smooth !important;
  scroll-padding-top: 100px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}  */

.bg-darkGray {
  background-color: var(--darkGray);
  color: #fff;
}

body {
  color: var(--black);
  background: white;
  @apply fontly-text expanded-text;
}

a {
  font-weight: 500;
}

a:hover {
  cursor: pointer;
}

nav *,
text-18,
select,
option {
  font-size: 18px;
  outline: none;
}

a:hover {
  color: var(--darkGreen);
  cursor: pointer;
  /* @apply pl-12; */
  transition: all ease 0.3s;
}

.fontly-text {
  font-family: var(--font-mona-sans);
  font-weight: 300; /* Example of lighter weight */
  font-style: normal;
  font-stretch: 100%; /* Default width */
}

.semi-bold-text {
  font-weight: 600;
}

.bold-text {
  font-weight: 800; /* Bold weight */
}

.italic-text {
  font-style: italic;
}

.condensed-text {
  font-stretch: 75%; /* Condensed */
}

.expanded-text {
  font-stretch: 125%; /* Expanded */
}

.line-h-150 {
  line-height: 150%;
}

.border-radius-100 {
  border-radius: 100px;
}

.btn {
  color: var(--darkGray);
  background-color: var(--lightGreen);
  /* height: 59px; */
  display: inline-block;
  border: 1px solid transparent;

  @apply lg:px-6 lg:py-4 px-4 py-3 border-radius-100 semi-bold-text;
}

.outline-btn-sm {
  background-color: transparent;
  color: var(--darkGray);
  border: 1px solid var(--darkGray);
  height: fit-content;
  display: inline-block;
  text-align: center;
  width: fit-content;
  display: inline;
  @apply px-4 py-2 w-full  border-radius-100 semi-bold-text;
}

.btn:hover,
.outline-btn:hover {
  box-shadow: 0 2px 16px 0 hsla(149, 71%, 39%, 0.75);
  color: var(--darkGray);
  background-color: var(--lightGreen);
  border: 1px solid transparent;
  transition: all ease 0.4s;
}

.outline-btn-sm:hover {
  color: var(--darkGray);
  background-color: var(--lightGreen);
  border: 1px solid transparent;

  transition: all ease 0.4s;
}

.outline-btn {
  background-color: transparent;
  color: var(--darkGray);
  border: 1px solid var(--darkGray);

  display: inline-block;

  @apply line-h-150 px-6 py-4 border-radius-100 semi-bold-text;
}

.outline-btn-white {
  background-color: transparent;
  color: white;
  border: 1px solid white;

  display: inline-block;

  @apply line-h-150 px-6 py-4 border-radius-100 semi-bold-text;
}

.outline-btn-white:hover {
  color: var(--darkGray);
  background-color: var(--lightGreen);
  border: 1px solid transparent;

  transition: all ease 0.4s;
}

form {
  @apply my-10 flex flex-col w-full px-4 md:px-0 md:w-96 self-center;
}

form > button {
  @apply btn mt-4;
}

input {
  font-weight: 500;
  @apply border-solid border border-green-950 px-5 py-4 mb-1 rounded-full outline-1 outline-green-700;
}

select {
  font-weight: 500;
  @apply border-solid border border-green-950 px-5 py-4 mb-1 rounded-full outline-1 outline-green-700;
}

textarea {
  font-weight: 500;
  @apply border-solid border border-green-950 px-5 py-4 mb-1 rounded-3xl outline-1 outline-green-700;
}

h1 {
  @apply text-2xl font-medium lg:text-4xl;
}

.hero-section {
  background-image: url("./images/BG.png");
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  @apply h-fit  pb-8 lg:pb-4;
}

.nav {
  position: absolute;
  top: 0;
  z-index: 1;
  margin-top: 48px;
}

.nouh {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 800px;
  height: auto;
  width: 100%;
}

.proc-card {
  background-color: var(--black);
  color: white;
  @apply px-6 py-8 rounded-3xl;
}

.sectionHeader {
  @apply text-3xl md:text-5xl font-semibold;
}

.quote {
  background-image: url("./images/quote.jpg");
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--lightGreen);
  line-height: 150% !important;
  @apply text-4xl sm:text-5xl lg:text-5xl 2xl:text-7xl font-semibold text-center px-4 py-24 sm:p-24 lg:p-20 xl:p-40 2xl:p-60;
}

.statsbg {
  background-image: url("./images/stats.png");
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  border-radius: 40px;
}

.statsbg h1 {
  @apply lg:text-6xl text-4xl font-bold leading-normal;
}

.statsbg .number {
  color: var(--lightGreen);
  font-size: 40px;
  @apply font-bold;
}

.statsbg .text {
  font-size: 18px;
  @apply font-medium;
}

@media (min-width: 1024px) {
  nav *,
  text-18,
  select,
  option {
    font-size: 16px;
  }
}

.wordwrap {
  white-space: pre-wrap !important; /* Webkit */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap; /* Opera <7 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word !important; /* IE */
}

.min-w-800px {
  min-width: 800px;
}

.max-w-700 {
  max-width: 650px;
  text-align: justify;
}
